# Optional server-side configuration for a future commercial deployment.
# Never put license signing keys, database passwords, or API secrets in VITE_* variables.
# DATABASE_URL=
# LICENSE_ISSUER_URL=
# LICENSE_SIGNING_KEY=
# CONTACT_REQUEST_ENDPOINT=
